{% extends 'base.html.twig' %}

{% block content %}
<form method="post">

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <!-- Content
================================================== -->

<!-- Container -->
<div class="container">

	<div class="my-account">

		<!--<ul class="tabs-nav">
			<li id="login_page" class="active"><a href="/login">Login</a></li>
			<li id="register_page"><a href="/register">Register</a></li>
		</ul> -->

		<div class="tabs-container">
			<!-- Login -->
			<br>
			<br>
			<br>
			<div class="tab-content" id="tab1" style="display: none;">
				<form method="post" class="login">

					<p class="form-row form-row-wide">
						<label for="Mail">Mail:
							<i class="ln ln-icon-Male"></i>
							<input type="text" class="input-text" value="" name="Mail" id="Mail" required autofocus />
						</label>
					</p>

					<p class="form-row form-row-wide">
						<label for="Password">Mot de Passe:
							<i class="ln ln-icon-Lock-2"></i>
							<input class="input-text" type="password" name="Password" id="Password" required/>
						</label>
					</p>

					<p class="form-row">
						<input type="submit" class="button border fw margin-top-10" name="Valider" value="Login" />
					</p>					
				</form>
			</div>
			<br>
			<br>
			<br>
		</div>
	</div>
</div>    

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
{% endblock %}
